.cart {
    margin-top: 100px;
    min-height: 50vh;
}
.cart-items {
    padding-left: 10%;
    padding-right: 10%;
}
.cart-items-title {
    display: grid;
    grid-template-columns: 1fr 1.5fr 1fr 1fr 1fr 0.5fr;
    align-items: center;
    color: rgb(66, 66, 66);
    font-size: max(1vw, 12px);
}
.cart-items-item {
    margin: 10px 0px;
    color: black;
}
.cart-items-item img {
    width: 50px;
}
.cart hr {
    height: 1px;
    background-color: #c6dcf0;
    border: none;
}
.cart-items-item .cross {
    cursor: pointer;
}
.cart-bottom {
    margin-top: 80px;
    display: flex;
    justify-content: space-between;
    gap: max(12vw, 20px);
    padding-left: 10%;
    padding-right: 10%;
}
.cart-total {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.cart-total-details {
    display: flex;
    justify-content: space-between;
    color: rgb(66, 66, 66);
}
.cart-total hr {
    margin: 10px 0px;
}
.cart-total-container {
    margin-bottom: 40px;
}
.cart-total button {
    display: flex;
    justify-content: center;
    align-self: center;
    border: none;
    color: white;
    font-size: 15px;
    background-color: tomato;
    width: max(20vw, 200px);
    padding: 20px 5px;
    border-radius: 7px;
    cursor: pointer;
    transition: 0.3s;
}
.cart-total button:hover {
    background-color: rgb(182, 27, 0);
}
.cart-promocode {
    flex: 1;
}
.cart-promocode p {
    color: rgb(66, 66, 66);
}
.cart-promocode-input {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #d0e7f1;
    border-radius: 5px
}
.cart-promocode-input input {
    background: transparent;
    border: none;
    outline: none;
    padding-left: 10px;
}
.cart-promocode-input button {
    width: max(10vw, 150px);
    padding: 12px 5px;
    background-color: rgb(214, 126, 11);
    border: none;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}
.cart-promocode-input button:hover {
    background-color: rgb(182, 27, 0);
}
@media (max-width: 750px) {
    .cart-bottom {
        flex-direction: column-reverse;
    }
    .cart-promocode {
        justify-content: start;
    }
}