/* @import "../../CSS/GlobalStyle.css"; */
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');


body {
    min-height: 100vh;
}
a {
    text-decoration: none;
    color: inherit;
}
.food-delivery {
    width: 100%;
    
    margin: auto;
    box-sizing: border-box;
    font-family: Outfit;
    background-color: #ABBEC9;
}